*{
    margin: 0;
    padding: 0;
}
header{
    background: skyblue;
    display: block;
    padding: 50px;
    text-align:center;
}

nav{
    background: pink;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    color: white;
    
}

nav>a{
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

article{
    flex: 7;
    padding:30px;
}

.myimage{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

aside{
    background: gray;
    flex: 3;
    padding: 30px;
}

.container{
    display: flex;
    height: 500px;

}

footer{
    background: burlywood;
    padding: 50px;
    text-align: center;
}